<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="mb-4">
      <form action="todos" method="POST" novalidate class="validated-form">
        <label class="form-label" for="name">Create a new task</label>
        <input class="form-control mb-3" type="text" id="name" name="todo[name]" required>
        <button class="btn btn-secondary">Add Todo</button>
      </form>
    </div>

    <ul class="list-group mb-5">
      <% for (let todo of todos) { %>
      <li class="list-group-item py-3">
        <span <% if(todo.category == "completed"){%> class="text-decoration-line-through" <% } %>><%= todo.name %> - <%= todo.category %></span>
        <div class="mt-2 d-flex">
          <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
          <div class="mx-2"></div>
          <form action="/todos/<%= todo._id %>?_method=PUT" method="POST">

            <button class="btn btn-success" <% if(todo.category == "completed"){%> disabled <% } %>>Complete</button>
          </form>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</div>